.folio__text {
/*   background-color: red; */
  width: 300px;
  margin: 0;
  padding: 32px 16px;
  text-align: center;
}


@media only screen and (min-width: 768px) {
  .folio__text {
    width: 500px;
    text-align: start;
  }
}
