/*.menu__icon_style {
  background-color: #DCDBDA;
  width: 18px;
  height: 1px;
  display: block;
  margin: 0 0 8px 0;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-font-smoothing: antialiased;
}


#checkbox {
  display: none;
}

#checkbox:checked ~ .menu__icon_position > .menu__icon_top-position {
  -webkit-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
  transition: 0.550s cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.150s;
}

#checkbox:checked ~ .menu__icon_position > .menu__icon_bottom-position {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
  transition: 0.550s cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.150s;
}

#checkbox:checked ~ .menu__icon_position {
  transform: rotate(90deg);
  transition: all 0.350s cubic-bezier(0.86, 0, 0.07, 1);
}*/
