.portfolio-items__unit {
  margin: 0;
  border-bottom: 1px solid #5F5C59;
  text-decoration: none;
}
.portfolio-items__unit:nth-child(1) {
  grid-area: wild;
}

.portfolio-items__unit:nth-child(2) {
  grid-area: beard;
}

.portfolio-items__unit:nth-child(3) {
  grid-area: leica;
}

