
@media only screen and (max-width: 767px) {
.header-main {
  display: flex;
  flex-direction: column;
  width: 12vw;
  height: 12vh;
  justify-content: space-around;
  align-items: center;
  padding: 4px 0;
}
}
