
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header-main_line {
  width: 5vw;
  background-color: #DCDBDA;
  height: 1px;
  display: block;
  margin: 4px 0 0 0;
}


@media only screen and (min-width: 768px) {
  .header-main_line {
    display: none;
  }
}
