.portfolio__block {
  display: grid;
  grid-template-columns: repeat(9, minmax(36px, 60px));
  grid-gap: 32px;
  grid-template-areas:
                        "item item item item . . . . ."
                        ". . . . . beard beard beard beard"
                        "leica leica leica leica . . . . .";
}


@media only screen and (min-width: 768px) {
  .portfolio__block {
  display: grid;
  grid-template-columns: repeat(9, minmax(36px, 36px));
  grid-gap: 24px;
  grid-template-areas:
                        "item item item item . . . . ."
                        ". . . . . beard beard beard beard"
                        "leica leica leica leica . . . . .";
}
}


@media only screen and (min-width: 1024px) {
  .portfolio__block {
  display: grid;
  grid-template-columns: repeat(9, minmax(36px, 60px));
  grid-gap: 32px;
  grid-template-areas:
                        "item item item item . . . . ."
                        ". . . . . beard beard beard beard"
                        "leica leica leica leica . . . . .";
}
}
