/*.contacts__link {
  list-style-type: none;
  padding: 0;
  margin: 0 0 96px;
}*/


  .contacts__link {
  list-style-type: none;
  padding: 0;
  margin: 0 0 48px;
}

  .contacts__link_con {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
}



@media only screen and (min-width: 768px) {
  .contacts__link {
  list-style-type: none;
  padding: 0;
  margin: 0 0 96px;
}
.contacts__link_con {
  list-style-type: none;
  padding: 0;
  margin: 0 0 28px;
}
}


/*@media only screen and (min-width: 1024px) {}*/
