.g_h1 {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 72px;
  letter-spacing: -0.028em;
  color: #100F0F;
  margin-bottom: 64px;
}

.g_h2-w {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: -0.022em;
  color: #DCDBDA;
}

.g_h2-b {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 54px;
line-height: 64px;
letter-spacing: -0.022em;
color: #100F0F;
}

.g_h3-w {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 44px;
letter-spacing: -0.006em;
color: #DCDBDA;
}

.g_h4-w {
  font-family: Manrope, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.016em;
color: #C4C4C4;
}

.g_h5-b {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.006em;
color: #100F0F;
}

.g_h6 {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.006em;
color: #DCDBDA;
}

.g_p-w {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.006em;
color: #C4C2C0;
}

.g_p-b {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.006em;
color: #100F0F;
}

.g_a-w {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.006em;
text-decoration-line: underline;
color: #C4C4C4;
/*width: 244px;*/
}

.g_a-b {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.006em;
text-decoration-line: none;
color: #2A2928;
border-bottom: 1px solid #2A2928;
/*width: 244px;*/
}

.g_figcaption {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.006em;
color: #444340;
}

.g_contact {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 32px;
text-decoration-line: underline;
color: #DCDBDA;
}

.g_span-w {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 28px;
color: #C4C4C4;
}

.g_span-b {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 28px;
color: #444340;
}

.g_tag-mail {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
color: #ABA9A6;
}

.g_tag-w {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #928F8B;
}

.g_tag-b {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #5F5C59;
}

.g_span-lng {
  font-family: Manrope, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 24px;
color: #100F0F;
text-transform: uppercase;
}

.g_span-nav {
font-family: Manrope, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 24px;
letter-spacing: 0.006em;
color: #100F0F;
text-decoration: none;
}

.g_a-small {
  font-family: Manrope, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 32px;
letter-spacing: -0.006em;
text-decoration-line: underline;
color: #787571;
}

.g_a-big {
  font-family: Manrope, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 72px;
text-align: center;
letter-spacing: -0.028em;
text-decoration-line: underline;
color: #2A2928;
}

.visually-hidden {
  visibility: hidden;
}

.wrapper {
  margin: 0 56px;
}

.g-picture {
  display: block;
  text-align: center;
  margin : 0 0 96px 0;
}

.g-page__section {
  margin: 336px 56px;
}


















