.g-h1 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 72px;
letter-spacing: -0.028em;
color: #100F0F;
}

.g-h2 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 54px;
line-height: 64px;
letter-spacing: -0.022em;
color: #100F0F;
}

.g-h3 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 44px;
letter-spacing: -0.006em;
color: #DCDBDA;
}

.g-h5 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #100F0F;
}

.g-h6 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.09em;
text-transform: uppercase;
color: #100F0F;
}

.g-p {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.006em;
color: #100F0F;
}

.g-p_grey70 {
  color: #444340;
}

.g-a {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.006em;
text-decoration-line: none;
color: #F6416C;
}

.g-span {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 28px;
color: #444340;
}

.g-tag {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #5F5C59;
}

.g-tag-link {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
color: #444340;
}

.g-a-mail {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 32px;
text-decoration-line: none;
color: #100F0F;
}

.g-small {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 32px;
letter-spacing: -0.006em;
text-decoration-line: underline;
color: #787571;
}

.g-big {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 72px;
text-align: center;
letter-spacing: -0.028em;
text-decoration-line: underline;
color: #2A2928;
}

.g-nav {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.006em;
color: #DCDBDA;
}

.g-lng {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 24px;
color: #DCDBDA;
text-transform: uppercase;
}

.figcaption {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.006em;
color: #444340;
}

.g_grey10 {
  color: #DCDBDA;
}

.g_grey20 {
  color: #C4C2C0;
}

.g_grey30 {
  color: #ABA9A6;
}

.g_grey40 {
  color: #928F8B;
}

.g_grey50 {
  color: #787571;
}

.wrapper {
  margin: 0 56px 0;
}

.page_margin {
  margin: 336px 0;
}

.g-body {
  background-color: #100F0F;
}

.fade-out {
  transition: .6s cubic-bezier(.785,.135,.15,.86);
}

.fade-in {
  transition: .6s cubic-bezier(.785,.135,.15,.86);
}

.page_footer {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  position: relative;
  padding: 336px 56px 24px;
  background-color: #100F0F;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

/* ************************************************************** */
.h1 {
  max-width: 704px;
}

.p {
  max-width: 612px;
}

.a {
  max-width: 244px;
}

.a_style {
  border-bottom: 1px solid #F6416C;
}

.a_style:hover {
  background: linear-gradient(-60deg, #F6416C, #09C6F9, #7F53AC, #F6416C);
}

.a_style:hover {
  background-size: 300%;
  animation: flow 6s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.heading__h1 {
  margin: 0 0 64px;
}

.heading__p {
  margin: 0 0 96px;
  display: flex;
}



/* ************************************************************** */

.heading-h2{}


.tag {
  width: 244px;
}

.heading__p::before {
  content: "";
  height: 1px;
  width: 128px;
  margin: 0 32px 0 0;
  background-color: #100F0F;
  position: relative;
  top: 16px;
}

.heading__tag {
  margin: 0 0 48px;
}

.h2 {
  max-width: 704px;
}

/* ************************************************************** */


.page-img {
  width: 46vw;
  margin: 0 0 128px;
}

.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/********************************/



.char-class {
  display: inline-block;
  white-space: pre;
  text-decoration: none;
}

html {
  background-color: #fff;
}


/********************************/




#text-container {
  margin: 0  0 168px 0;
}

















































