@media only screen and (min-width: 1024px) {
.g-h1 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 72px;
letter-spacing: -0.028em;
color: #100F0F;
}

.g-h2 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 54px;
line-height: 64px;
letter-spacing: -0.022em;
color: #100F0F;
}

.g-h3 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 44px;
letter-spacing: -0.006em;
color: #DCDBDA;
}

.g-h5 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #100F0F;
}

.g-h6 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.09em;
text-transform: uppercase;
color: #100F0F;
}

.g-p {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.006em;
color: #100F0F;
}

.g-a {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 32px;
letter-spacing: -0.006em;
text-decoration-line: none;
color: #F6416C;
}

.g-span {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 28px;
color: #444340;
}

.g-tag {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #5F5C59;
}

.g-tag-link {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
color: #444340;
}

.g-a-mail {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 32px;
text-decoration-line: none;
color: #100F0F;
}

.g-small {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 32px;
letter-spacing: -0.006em;
text-decoration-line: underline;
color: #787571;
}

.g-big {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 72px;
text-align: center;
letter-spacing: -0.028em;
text-decoration-line: underline;
color: #2A2928;
}

.g-nav {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.006em;
color: #DCDBDA;
}

.g-lng {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 24px;
color: #DCDBDA;
text-transform: uppercase;
text-decoration: none;
}

.figcaption {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.006em;
color: #444340;
}

.g-p_grey70 {
  color: #444340;
}
.g_grey10 {
  color: #DCDBDA;
}

.g_grey20 {
  color: #C4C2C0;
}

.g_grey30 {
  color: #ABA9A6;
}

.g_grey40 {
  color: #928F8B;
}

.g_grey50 {
  color: #787571;
}


.g-body {
  background-color: #100F0F;
}
}



/*@media only screen and (min-width: 600px) {
.g-h1 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 52px;
letter-spacing: -0.018em;
color: #100F0F;
}

.g-h2 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 56px;
letter-spacing: -0.02em;
color: #100F0F;
}

.g-h3 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;;
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 40px;
letter-spacing: -0.004em;
color: #DCDBDA;
}

.g-h5 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.006em;
text-transform: uppercase;
color: #100F0F;
}

.g-h6 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.006em;
text-transform: uppercase;
color: #100F0F;
}

.g-p {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
letter-spacing: -0.006em;
color: #100F0F;
}

.g-a {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
letter-spacing: -0.006em;
text-decoration-line: none;
color: #F6416C;
}

.g-span {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #444340;
}

.g-tag {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #5F5C59;
}

.g-tag-link {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
color: #444340;
}

.g-a-mail {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 32px;
text-decoration-line: none;
color: #100F0F;
}

.g-small {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 32px;
letter-spacing: -0.006em;
text-decoration-line: underline;
color: #787571;
}

.g-big {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 72px;
text-align: center;
letter-spacing: -0.028em;
text-decoration-line: underline;
color: #2A2928;
}

.g-nav {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 20px;
letter-spacing: 0.006em;
color: #DCDBDA;
}

.g-lng {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 20px;
color: #DCDBDA;
text-transform: uppercase;
}

.figcaption {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
letter-spacing: -0.006em;
color: #444340;
}

.g-p_grey70 {
  color: #444340;
}
.g_grey10 {
  color: #DCDBDA;
}

.g_grey20 {
  color: #C4C2C0;
}

.g_grey30 {
  color: #ABA9A6;
}

.g_grey40 {
  color: #928F8B;
}

.g_grey50 {
  color: #787571;
}


.g-body {
  background-color: #100F0F;
}
}*/

@media only screen and (min-width: 600px) {
.g-nav {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.006em;
color: #DCDBDA;
text-transform: none;
}
}

@media only screen and (min-width: 320px) {
.g-h1 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 52px;
letter-spacing: -0.018em;
color: #100F0F;
}

.g-h2 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 52px;
letter-spacing: -0.016em;
color: #100F0F;
}

.g-h3 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;;
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 36px;
letter-spacing: -0.004em;
color: #DCDBDA;
}

.g-h5 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.006em;
text-transform: uppercase;
color: #100F0F;
}

.g-h6 {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.006em;
text-transform: uppercase;
color: #100F0F;
}

.g-p {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: -0.003em;
color: #100F0F;
}

.g-a {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
letter-spacing: -0.006em;
text-decoration-line: none;
color: #F6416C;
}

.g-span {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
color: #444340;
}

.g-tag {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 16px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #5F5C59;
}

.g-tag-link {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 16px;
color: #444340;
}

.g-a-mail {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-decoration-line: none;
color: #100F0F;
}

.g-small {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 32px;
letter-spacing: -0.006em;
text-decoration-line: underline;
color: #787571;
}

.g-big {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 70px;
line-height: 72px;
text-align: center;
letter-spacing: -0.028em;
text-decoration-line: underline;
color: #2A2928;
}

.g-nav {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
color: #DCDBDA;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.006em;
text-transform: uppercase;
}

.g-lng {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 16px;
color: #DCDBDA;
text-transform: uppercase;
text-decoration: none;
}

.figcaption {
font-family: Manrope, -apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 16px;
letter-spacing: -0.002em;
color: #444340;
}

.g-p_grey70 {
  color: #444340;
}

.g_grey10 {
  color: #DCDBDA;
}

.g_grey20 {
  color: #C4C2C0;
}

.g_grey30 {
  color: #ABA9A6;
}

.g_grey40 {
  color: #928F8B;
}

.g_grey50 {
  color: #787571;
}

.g-body {
  background-color: #100F0F;
}

.g-menu_bkg {
  background-color: #100F0F;
  width: 100vw;
  height: 0;
  position: fixed;
  left: 0;
  top: 0;
  /*z-index: 1;*/
  transition:  .6s cubic-bezier(.785,.135,.15,.86);
}

.g-menu_bkg-open {
  height: 100vh;
}

.g-scroll_no {
  overflow: hidden;
  height: 100%;
}


}



.wrapper {
  margin: 0 56px 0;
}

.page_margin {
  margin: 336px 0;
}

/*.fade-out {
  transition: .6s cubic-bezier(.785,.135,.15,.86);
}


.fade-in {
  transition: .6s cubic-bezier(.785,.135,.15,.86);
}*/

.fade-in {
  transition: 1.3s cubic-bezier(.22,.61,.36,1);
}

.fade-out {
  transition: 1.3s cubic-bezier(.22,.61,.36,1);
}

.page_footer {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  position: relative;
  padding: 336px 56px 24px;
  background-color: #100F0F;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

/* ************************************************************** */
.h1 {
  max-width: 704px;
}

.p {
  max-width: 612px;
}

.a {
  /*max-width: 244px;*/
}

.a_style {
  border-bottom: 1px solid #F6416C;
  opacity: 0;
}

.a_style:hover {
  background: linear-gradient(-60deg, #F6416C, #09C6F9, #7F53AC, #F6416C);
}

.a_style:hover {
  background-size: 300%;
  animation: flow 6s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.heading__h1 {
  margin: 32vh 0 64px;
  overflow: hidden;
}

.heading__p {
  margin: 0 0 96px;
  display: flex;
  opacity: 0;
}



/* ************************************************************** */

.heading-h2{
  overflow: hidden;
}


.tag {
  width: 244px;
}

/*.heading__p::before {
  content: "";
  height: 1px;
  width: 128px;
  margin: 0 32px 0 0;
  background-color: #100F0F;
  position: relative;
  top: 16px;
}
*/
.heading__tag {
  margin: 0 0 48px;
}

.h2 {
  max-width: 704px;
}

/* ************************************************************** */


.page-img {
  width: 42vw;
  /*margin: 0 0 96px;*/
}

.sign {
  display: flex;
  justify-content: center;
  margin: 64px 0 0 0;
}

/*.page-img:hover {
  filter: url(#link);
}
*/
.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/********************************/



.char-class {
  display: inline-block;
  white-space: pre;
  text-decoration: none;
}

html {
  background-color: #fff;
}


/********************************/




#text-container {
  margin: 0  0 168px 0;
}



/* *********************** Анимация появления текста при скролле *************************************** */
.em { /*в основную ветку*/
    /*position: relative;*/
    transform: translateY(150px);
    /*transition: .3s;*/
    display: inline-block;
}

.g-title_animation {
  transform: translateY(0px);
  transition: transform 1s  cubic-bezier(.22,.61,.36,1);
  transition-delay: .15s;
}

.g-paragraph_animation {
  opacity: 1;
  transition: opacity 1.5s, letter-spacing 1.5s cubic-bezier(.22,.61,.36,1);
  transition-delay: .5s;
  /*letter-spacing: normal;*/
}

.g-link_animation {
  opacity: 1;
  transition: opacity 1.5s, letter-spacing 1.5s cubic-bezier(.22,.61,.36,1);
  transition-delay: .5s;
}

/*.g-move-in_animation {
  transform: translateY(0px);
  transition: transform .75s  cubic-bezier(.22,.61,.36,1);
  transition-delay: .10s;
}*/

.g-hidden {
  overflow: hidden;
  transform: translateY(180px);
}























@media only screen and (min-width: 320px) {
  .wrapper {
    margin: 20px 20px 64px;
  }
  .picture {
  display: none;
}
.page_margin {
  margin: 192px 0;
}
.heading__tag {
  margin: 0 0 32px;
}
.page_footer {
  display: flex;
  flex-flow: column;
  align-content: flex-end;
  position: relative;
  padding: 192px 20px 24px;
  background-color: #100F0F;
}
.g-link_width {
  width: 112px;
}
}


@media (max-height: 414px) and (max-width: 800px) and (orientation: landscape) {}
@media only screen and (min-width: 600px) {}



@media only screen and (min-width: 768px) {
  .page-img {
    width: 48vw;
  }

  .h1 {
    max-width: 516px;
  }

  .p {
    max-width: 456px;
  }
  .wrapper {
    margin: 20px 36px 64px;
  }

  .h2 {
  max-width: 516px;
}

.heading__h1 {
  margin: 32vh 0 56px;
  overflow: hidden;
}

.g-link_width {
  width: 116px;
}

.heading__p::before {
  content: "";
  height: 1px;
  width: 128px;
  margin: 0 32px 0 0;
  background-color: #100F0F;
  position: relative;
  top: 16px;
}
.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page_margin {
  margin: 256px 0;
}
.heading__tag {
  margin: 0 0 40px;
}
.page_footer {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  position: relative;
  padding: 336px 56px 24px;
  background-color: #100F0F;
}
.g-menu_bkg {
  display: none;
}
}


@media only screen and (min-width: 1024px) {
  .h1 {
    max-width: 704px;
  }

  .p {
    max-width: 612px;
  }

  .wrapper {
    margin: 20px 56px 72px;
  }

  .page-img {
    width: 42vw;
  }

  .h2 {
  max-width: 704px;
}

.heading__h1 {
  margin: 32vh 0 64px;
  overflow: hidden;
}

.page_margin {
  margin: 336px 0;
}
.heading__tag {
  margin: 0 0 48px;
}
.g-link_width {
  width: 100%;
}
}


@media only screen and (min-width: 1185px) {}

@media only screen and (min-width: 1680px) {
  .wrapper {
    margin: 20px auto 0;
    max-width: 1680px;
  }

  .page-img {
    width: 700px;
    margin-top: 6vh;
  }
}






































