.sprint-block__tag {
  grid-area: tag;
  margin: 0 0 32px;
  height: 56px;
  border-bottom: 1px solid #5F5C59;
  transition: transform 1s  cubic-bezier(.22,.61,.36,1);
  transition-delay: .15s;
}

.sprint-block__tag:nth-child(5) {
  grid-area: tag1;
}

.sprint-block__tag:nth-child(8) {
  grid-area: tag2;
}

.sprint-block__tag:nth-child(11) {
  grid-area: tag3;
}

.sprint-block__tag:nth-child(14) {
  grid-area: tag4;
}

.sprint-block__tag:nth-child(17) {
  grid-area: tag5;
}

.sprint-block__tag:nth-child(20) {
  grid-area: tag6;
}

.sprint-block__tag:nth-child(23) {
  grid-area: tag7;
}

.sprint-block__tag:nth-child(26) {
  grid-area: tag8;
}

.sprint-block__tag:nth-child(29) {
  grid-area: tag9;
}
