/*.service-items__type-title {
  margin: 0;
}*/


  .service-items__type-title {
  margin: 0 0 24px 0;
}

@media only screen and (min-width: 768px) {
  .service-items__type-title {
  margin: 0;
}
}
/*@media only screen and (min-width: 1024px) {
}*/








/*.service-items__type {
  flex-wrap: wrap;
}*/


