.portfolio__item {
  border-bottom: 1px solid #5F5C59;
  margin: 0 0 128px;
  overflow: hidden;
}

.portfolio__item:nth-child(1) {
  grid-area: item;
}

.portfolio__item:nth-child(2) {
  grid-area: beard;
}

.portfolio__item:nth-child(3) {
  grid-area: leica;
}


@media only screen and (min-width: 320px) {
.portfolio__item {

  margin: 0 0 80px;

}
}


@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
.portfolio__item {
  border-bottom: 1px solid #5F5C59;
  margin: 0 0 128px;
  overflow: hidden;
}
}
