.header_style {
  display: flex;
  justify-content: space-between ;
}



@media only screen and (min-width: 320px) and (max-width: 767px) {

.header_style {
  /*background-color: #100f0f;*/
  /*width: 12vh;*/
  /*height: 12vw;*/
  display: flex;
}
}


@media only screen and (min-width: 768px) {
  .header_style {
  width: 36px;
  display: flex;
  justify-content: space-between ;
}
}
@media only screen and (min-width: 1024px) {
  .header_style {
  width: 44px;
  display: flex;
  justify-content: space-between ;
}
}
