.header__line {
  border-bottom: 1px solid #DCDBDA;
  position: absolute;
  top: 40px;
  width: 0px;
  transition: transform .9s cubic-bezier(.785,.135,.15,.86),width .9s cubic-bezier(.785,.135,.15,.86);
  transform: translateX(-8px);
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header__line {
    display: none;
  }
}
