/*.contacts__h3 {
  width: 704px;
  margin: 0 0 128px;
  grid-area: title;
}*/

  .contacts__h3 {
  width: 280px;
  margin: 0 0 80px;
  grid-area: title;
}

@media only screen and (min-width: 768px) {
  .contacts__h3 {
  width: 516px;
  margin: 0 0 96px;
  /*grid-area: title;*/
}
}

@media only screen and (min-width: 1024px) {
  .contacts__h3 {
  width: 704px;
  margin: 0 0 128px;
  /*grid-area: title;*/
}
}
