.advantages__h2 {
  margin: 0 0 80px;
}


@media only screen and (min-width: 660px) {
  .advantages__h2 {
  margin: 0 0 96px;
}
}
@media only screen and (min-width: 1024px) {
  .advantages__h2 {
  margin: 0 0 128px;
}
}
