/*.header {
  justify-content: space-between;
  align-items: center;
  margin: 20px 56px 72px;
  position: sticky;
  top: 0px;
  padding: 0 24px 0;
  z-index: 1000;
}*/



  .header {
  display: flex;
    padding: 0;
    justify-content: space-between;
    background-color: transparent;
    align-items: flex-start;
    height: 60px;
    margin: 20px 20px 72px;
    position: sticky;
  top: 0px;
  z-index: 1000;
  }



@media only screen and (min-width: 768px) {
  .header {
  /*display: flex;*/
  /*justify-content: space-between;*/
  align-items: center;
  margin: 20px 36px 72px;
  /*position: sticky;*/
  /*top: 0px;*/
  padding: 0 24px 0;
  /*z-index: 1000;*/
  background-color: #100f0f;
  height: auto;
}
}


@media only screen and (min-width: 1024px) {
  .header {
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  margin: 20px 56px 72px;
  /*position: sticky;*/
  /*top: 0px;*/
  /*padding: 0 24px 0;*/
  /*z-index: 1000;*/
}
}
